<div class="animation-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/main.gif" width="100%" class="main" />
      </div>
      <div class="col-md-6" style="margin-top: 12.5%;">
        <h3 class="logo-text">
          GRAFIA
        </h3>
        <h3
          style="
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 25px;
            font-family: 'Cairo', sans-serif;
          "
        >
          Welcome to Geo Tracking of Waste
        </h3>
        <br />
        <br />
        <div class="row">
          <div class="col-md-6">
            <br />
            <p style="font-family: 'Cairo', sans-serif;">
              Login  <i class="fas fa-arrow-down"></i>
            </p>
            <!-- <div *ngIf="!authService.isLoggedIn()"> -->
              <button type="button" class="btn btn-success btn-block"
              (click)="localhost/grafia/apsystem/ADMIN/index.php"
              style="text-decoration:none">
                      <a
                        
                        href="http://localhost/Project/grafia/ADMIN/user.php"
              style="text-decoration: none;
              color:#fff"
                      >
                        <i style="color:#fff"></i>
                       Login
                 </a >
                    </button> 
                  </div>
          <div class="col-md-6">
             <p _ngcontent-bol-c1="" style="font-family: Georgia, 'Times New Roman', Times, serif;padding-top: 0px;border-top-width: 0px;margin-top: 24px;"> Login as Admin <i _ngcontent-bol-c1="" class="fas fa-arrow-down" aria-hidden="true"></i></p>

            <button type="button" class="btn btn-primary btn-block"
			(click)="localhost/grafia/apsystem/ADMIN/index.php"
			style="text-decoration:none">
              <a
                
                href="http://localhost/Project/grafia/ADMIN/index.php"
			style="text-decoration: none;
			color:#fff"
              >
                <i style="color:#fff"></i>
               Login
			   </a >
            </button> 
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
