<app-navbar></app-navbar>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 ">
      <div class="card card-body">
        <div id="map"> <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1_5oYuj1XbOxaTwl1CRDy_oin6OgW_XH4" width="940" height="580"></iframe></div>
      </div>
    </div>
    <div class="col-md-4">
      <div style="text-align:center">
       
       
        
		<div id="chat"> <iframe  style="width: -webkit-fill-available; height: 500px; " 
          src="http://localhost/Chat/index.php">
        </iframe></div>
        
		<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-ac12f778-071e-4f47-9f63-48a271579530"></div>

      </div>
    </div>
	
  </div>
</div>
